Semana 5 Datos, estructura de datos y bases de datos. 
Revisamos temas de map(), es un equiparable a un for que utiliza una función e utiliza un objeto iterable.

In [12]:
# # map(funcion, objeto iterable)
# #map, envía un objeto interable, no se puede imprimir. 
from functools import reduce
lista = [2,34,5,2,1,45,3,3]
lista2 = []
#Así la porgramación imperativa
for i in lista:
    lista2.append(i**2)
print(lista2)

# print(list(map(lambda x: x**2, lista))) #paradigma funcional
bases= [2,3,4,5,6,6]
potencias=[2,3,4,5,6,7]

print(list(map(pow, bases, potencias))) #pow es power, potencia

[4, 1156, 25, 4, 1, 2025, 9, 9]
[4, 27, 256, 3125, 46656, 279936]

Aquí podemos usar el map de forma que una función lambda tiene compo parametro otra lambda con la función reduce que entrega un unico resultado, sumando cada uno de los elementos de la lista_Compras para obterner el total por cada elemnto de la orden.

In [33]:
lista_Compras = [
    [1525, [4, 2500],[3,8500],[5,12600]], #[No. factura, [cantidad. precio unidad]...]
    [1520, [3, 2500],[8,12600]],
    [1622, [1, 2500],[5,8500],[2,12600]]    
]
print(lista_Compras)
list3 = list(map(lambda x: [x[0]] + list(map(lambda y: y[0] * y[1], x[1:])), lista_Compras))
print(list3)
# hacer un debug pa entenderlo. Es como un for con un for anidado, pero es una función que tiene por parametro otra función. Las llaves. x[1:], significa en iteración de aquí en adelante, para sacar rebanadas/slides. 


list4 = list(map(lambda x: [x[0]] + [reduce(lambda a,e: a + e, x[1:])], list3))

print(list4)

list5 = list(map(lambda x: x if x[1] < 100000 else [x[0]]+[x[1]-5000],list4)) #aplica descuento el else. 
print(list5, "esto es 2")

[[1525, [4, 2500], [3, 8500], [5, 12600]], [1520, [3, 2500], [8, 12600]], [1622, [1, 2500], [5, 8500], [2, 12600]]]
[[1525, 10000, 25500, 63000], [1520, 7500, 100800], [1622, 2500, 42500, 25200]]
[[1525, 98500], [1520, 108300], [1622, 70200]]
[[1525, 98500], [1520, 103300], [1622, 70200]] esto es 2

Función reduce, la cual debe ser importada de la librería 'functools'. Un objeto iterable es reducido en una nueva float, es como una función acomulativa de los elemento iterables.  Re organice las notas y estudie sobre rebanadas

Los archivos sirven para recibir y capturar grandes cantidades de información. Se puede tomar de diferentes recolectadores de archivos, el archivo CSV (comma separate values)., con separadores especificos según la solicitud.

In [1]:
import pandas as pd

dicionario = {
        'first_name': ['Sigrid', 'Joe', 'Theodoric','Kennedy', 'Beatrix', 'Olimpia', 'Grange', 'Sallee'],
        'last_name': ['Mannock', 'Hinners', 'Rivers', 'Donnell', 'Parlett', 'Guenther', 'Douce', 'Johnstone'],
        'age': [27, 31, 36, 53, 48, 36, 40, 34],
        'amount_1': [7.17, 1.90, 1.11, 1.41, 6.69, 4.62, 1.01, 4.88],
        'amount_2': [8.06,  "?", 5.90,  "?",  "?", 7.48, 4.37,  "?"]
}

df1= pd.DataFrame(dicionario) #convertirlo en un marco de datos, data frame

print(df1)
df1.to_csv("ejemplo.csv", sep="|" ) #convertiro a csv. Read sirve para traerlo.

  first_name  last_name  age  amount_1 amount_2
0     Sigrid    Mannock   27      7.17     8.06
1        Joe    Hinners   31      1.90        ?
2  Theodoric     Rivers   36      1.11      5.9
3    Kennedy    Donnell   53      1.41        ?
4    Beatrix    Parlett   48      6.69        ?
5    Olimpia   Guenther   36      4.62     7.48
6     Grange      Douce   40      1.01     4.37
7     Sallee  Johnstone   34      4.88        ?